.card {
  width: 100%;
  background-color: var(--bg);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media (max-width: 1280px) {
  .card {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
  }
}

@media (max-width: 475px) {
  .card {
    padding: 10px;
  }
}
