.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  width: 40%;
  height: 40%;
  background-color: var(--textSoft);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(104, 104, 104, 0.24);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.closeBtn {
  padding: 7px;
  background-color: var(--buttonColor);
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.hr {
  border: 1px solid grey;
  margin-bottom: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.input,
.select {
  padding: 10px;
  width: 45%;
}

.button {
  padding: 10px;
  min-width: 100px;
  border-radius: 6px;
  background-color: var(--bg);
  color: white;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
