.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 250px);
  background-color: var(--primary);
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.title {
  font-size: 2rem;
  color: var(--secondary);
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.2rem;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.image {
  filter: invert(80%);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
